/* COLORS! */
$white: #FBFCFC;
$green: #2ECC71;
$blue: #3498DB;
$light: #fff;
$gray: #1B2631;
$l-gray: #85929E;
$red: #D7554A;
$light-hover: #d5eafc;
$light-blue: #f2f9ff;



@font-face {
    font-family: "PokemonXandY";
    src: url(../fonts/PokemonXandY.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    
    a {
        text-decoration: none;
        color: black;
    }
}

body {
    background: $white;
}

@keyframes pokeshow {

    0% {
        filter: drop-shadow(0 0 10px $light);
    }

    100% {
        filter: drop-shadow(0 0 1px $light);
    }
}

.grass {
    background: #7c5;
}