/* COLORS! */
$white: #FBFCFC;
$green: #2ECC71;



@font-face {
    font-family: "PokemonXandY";
    src: url(../fonts/PokemonXandY.ttf);
}



* {
    margin: 0;
    padding: 0;
    
    a {
        text-decoration: none;
        color: black;
    }
}

body {
    background: $white;
}

@keyframes pokeshow {
    0% {
        width: 0px;
        margin: 40px 0 0 25px;
    }

    100% {
        width: 50px;
        margin: 15px 0 0 0px;
    }
}