@import './all';
@import './pixelborder';
header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 40px 0 0 0;
    height: 155px;
    overflow: hidden;


    .logo {
        display: flex;

        img {
            z-index: 5;
            width: 150px;
            height: 85px;
        }

        .logo-text {
            z-index: 4;
            margin: -3px 0 0 -10px;
            display: block;
            color: $white;
            font-size: 65px;
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            text-shadow: 0px 0px 1px #EBEDEF,
                         0px 0px 2px #D6DBDF,
                         0px 0px 3px #AEB6BF,
                         0px 0px 4px #85929E;
        }
    }

    .cart-btn {
        position: relative;
        display: block;
        color: $white;
        width: 100px;
        height: 100px;
        font-size: 20px;
        font-family: "PokemonXandY";
        border-radius: 15px;
        text-transform: uppercase;
        text-shadow:-.5px .5px 0 #D7DBDD,
                    -1px 1px 0 #D7DBDD;
        filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 3px 3px);
        transition: all .5s;
        
        .pixel-border {
            position: absolute;
            top: 16px;
            left: 6px;
            width: 88px;
            height: 68px;
            
            .cart-svg {
                margin: -5px 0 0 20px;
                filter: drop-shadow(-1px 1px 0 #D7DBDD);
            }
            
            span {
                margin: -5px 0 0 28px;
                width: 100%;
                text-align: center;
            }

            &::before {
                z-index: -1;
                top: 7px;
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: red;
                transition: all .5s;
            }
        }

        &:hover {
            margin-top: 7px;

            .pixel-border::before{
                top: 0;
            }
        }
    }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    background: $blue;

    #search, .nav-links, .acc-links {
        font-family: "PokemonXandY";
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        a {
            overflow: hidden;
            display: inline-block;
            padding: 10px 40px;
            color: white;
            transition: all .2s;
            position: relative;
            letter-spacing: 2px;
            

            &::before {
                content: '';
                position: absolute;
                width: 0%;
                height: 62%;
                left: 50%;
                border-bottom: 1px solid $white;
                transition: all .5s;
            }

            &:hover {
                &::before {
                    width: 58%;
                    left: 20%;
                }
            }
        }

        .social-links {
            position: relative;
            padding: 0 40px;

            &::before {
                content: '';
                position: absolute;
                border-left: 1px solid $white;
                width: 100%;
                top: 20%;
                left: 10px;
                height: 60%;
            }

            a {
                width: 20px;
                height: 30px;
                margin: 0;
                padding: 10px 20px;
    
                object {
                    pointer-events: none;
                }
    
                &:hover {
                    &::before {
                        width: 0%;
                    }
                }
            }
        }
    }

    #search {
        position: absolute;
        left: 0;

        .form {
            margin-top: 7px;
            margin-left: 10px;

            .input {
                width: 200px;
                border-radius: 10px;
                outline: none;
                padding-left: 5px;
            }
        }

        .btn {
            margin-top: -7px;
            color: $white;
        }
    }

    .acc-links {
        position: absolute;
        right: 0;

        a {
            padding: 10px 10px;

            &:hover {
                &::before {
                    width: 76%;
                    left: 10%;
                }
            }
        }
    }
}


footer {
    font-family: "PokemonXandY";
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 375px;
    background: url(../img/grasstexture.png);

    .footer-text {
        text-align: center;
        color: $white;
        text-transform: uppercase;
        font-family: 100;
        letter-spacing: 3px;
        width: 50%;
        margin: 0 25%;
        z-index: 2;
        font-size: 20px;
        text-shadow:-.5px -.5px .5px rgba(255,255,255,0.5),
                    .5px .5px .5px rgba(255,255,255,0.5),
                    .5px .5px .5px rgba(0,0,0,1);
    }

    .pokeball-block {
        width: 50%;
        height: 120px;
        margin: 65px 25% 20px 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .footer-pokeball {
            position: relative;
            width: 50px;
            height: 120px;

            a {
                z-index: 7;
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
            }

            svg {
                z-index: 6;
            }

            img {
                image-rendering: pixelated;
                width: 50px;  
            }
    
            .pokeball-up {
                position: absolute;
                margin-top: 10px;
                z-index: 4;
                transition: all 1s;
            }
    
            .pokeball-down {
                position: absolute;
                margin-top: 23px;
                z-index: 3;
                transition: all 1s;
            }
            
            .social {
                width: 0px;
                position: absolute;
                z-index: 5;
                margin: 30px 0 0 25px;
                transition: all .5s;
                filter: drop-shadow(0 0 10px $light);
            }

            &:hover {
                cursor: pointer;
    
                .pokeball-up {
                    margin-top: -30px;
                }
    
                .pokeball-down {
                    margin-top: 69px;
                }

                .social {
                    animation: pokeshow 1s linear;
                    width: 40px;
                    margin: 17px 0 0 5px;
                    transition: all .5s;
                    filter: drop-shadow(0 0 1px $light);
                }
            }
        }
    }

    .footer-nav {
        position: relative;
        margin: 0 25%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &::before {
            pointer-events: none;
            content: '';
            position: absolute;
            bottom: -20%;
            right: 0%;
            width: 35%;
            height: 0%;
            border-bottom: 1px solid $white;
            box-shadow: 0 0 2px $white;
        }

        &::after {
            pointer-events: none;
            content: '';
            position: absolute;
            bottom: -20%;
            left: 0%;
            width: 35%;
            height: 0%;
            border-bottom: 1px solid $white;
            box-shadow: 0 0 2px $white;
        }

        .footer-logo {
            display: flex;
            width: 210px;
            height: 50px;
    
            img {
                z-index: 5;
                width: 100px;
            }
    
            .logo-text {
                z-index: 4;
                margin: -3px 0 0 -6px;
                display: block;
                color: $white;
                font-size: 40px;
                font-family: 'Roboto', sans-serif;
            }

            &:hover {
                filter: drop-shadow(0 0 3px rgba(255, 255, 0, .3));
            }
        }

        .footer-nav-el {
            display: block;
            margin-top: 20px;
            color: $white;
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 3px;
            text-shadow:-.5px -.5px .5px rgba(255,255,255,0.5),
                        .5px .5px .5px rgba(255,255,255,0.5),
                        .5px .5px .5px rgba(0,0,0,1);

            &:hover {
                color: yellow;
            }
        }
    }

    .footer-bg {
        z-index: -1;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgb(251,252,252);
        background: linear-gradient(180deg, rgba(23,32,42,1) 0%, rgba(23,32,42,.4) 50%, rgba(23,32,42,1) 100%),
                    linear-gradient(90deg, rgba(23,32,42,1) 0%, rgba(23,32,42,.4) 20%, rgba(23,32,42,.4) 80%, rgba(23,32,42,1) 100%);
    }
}

.bg-header {
    background: linear-gradient($gray, $blue 75%);
}