/* COLORS! */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
@font-face {
  font-family: "PokemonXandY";
  src: url(../fonts/PokemonXandY.ttf);
}

* {
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
  color: black;
}

body {
  background: #FBFCFC;
}

@-webkit-keyframes pokeshow {
  0% {
    -webkit-filter: drop-shadow(0 0 10px #fff);
            filter: drop-shadow(0 0 10px #fff);
  }
  100% {
    -webkit-filter: drop-shadow(0 0 1px #fff);
            filter: drop-shadow(0 0 1px #fff);
  }
}

@keyframes pokeshow {
  0% {
    -webkit-filter: drop-shadow(0 0 10px #fff);
            filter: drop-shadow(0 0 10px #fff);
  }
  100% {
    -webkit-filter: drop-shadow(0 0 1px #fff);
            filter: drop-shadow(0 0 1px #fff);
  }
}

.grass {
  background: #7c5;
}

:root {
  --pixel-bg: #58D68D;
  --pixel-border: #2ECC71;
  --pixel-border-2: #28B463;
  --pixel-border-3: #239B56;
  --pixel-border-4: #1D8348;
  --pixel-outline: #979A9A;
  --pixel: 2px;
}

.pixel-border {
  background: var(--pixel-bg);
  -webkit-box-shadow: 0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg), 0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg), calc(var(--pixel) * -1) 0 0 0 var(--pixel-border), var(--pixel) 0 0 0 var(--pixel-border), 0 calc(var(--pixel) * -2) 0 0 var(--pixel-border), 0 calc(var(--pixel) * 2) 0 0 var(--pixel-border), 0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border), 0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border), calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2), calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2), 0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 0 var(--pixel) 0 var(--pixel) var(--pixel-border-2), 0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2), 0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2), 0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2), 0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2), 0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2), 0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2), calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3), calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3), 0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3), 0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3), 0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3), 0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3), 0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3);
          box-shadow: 0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-bg), 0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-bg), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-bg), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-bg), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-bg), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-bg), calc(var(--pixel) * -1) 0 0 0 var(--pixel-border), var(--pixel) 0 0 0 var(--pixel-border), 0 calc(var(--pixel) * -2) 0 0 var(--pixel-border), 0 calc(var(--pixel) * 2) 0 0 var(--pixel-border), 0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border), 0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border), calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-2), calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-2), 0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-2), 0 var(--pixel) 0 var(--pixel) var(--pixel-border-2), 0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-2), 0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-2), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-2), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-2), 0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-2), 0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-2), 0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-2), 0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-2), calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-3), calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-3), 0 0 0 calc(var(--pixel) * 2) var(--pixel-border-3), 0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-3), 0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-3), 0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-3), 0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-3), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-3), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-3), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-3), 0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-3), 0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-3);
}

.pixel-border::before {
  background: var(--pixel-bg);
  -webkit-box-shadow: 0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-border-4), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-border-4), calc(var(--pixel) * -1) 0 0 0 var(--pixel-border), var(--pixel) 0 0 0 var(--pixel-border), 0 calc(var(--pixel) * -2) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * 2) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border-4), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border-4), calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-4), calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-4), 0 var(--pixel) 0 var(--pixel) var(--pixel-border-4), 0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-4), 0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-4), calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-4), calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-4), 0 0 0 calc(var(--pixel) * 2) var(--pixel-border-4), 0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-4), 0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-4), 0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-4), 0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-4), calc(var(--pixel) * -4) 0 0 0 var(--pixel-outline), calc(var(--pixel) * 4) 0 0 0 var(--pixel-outline), 0 calc(var(--pixel) * 0) 0 calc(var(--pixel) * 3) var(--pixel-outline), 0 calc(var(--pixel) * 0) 0 calc(var(--pixel) * 3) var(--pixel-outline), 0 calc(var(--pixel) * 2) 0 calc(var(--pixel) * 2) var(--pixel-outline), 0 calc(var(--pixel) * -2) 0 calc(var(--pixel) * 2) var(--pixel-outline), 0 calc(var(--pixel) * -4) 0 var(--pixel) var(--pixel-outline), 0 calc(var(--pixel) * 4) 0 var(--pixel) var(--pixel-outline), 0 calc(var(--pixel) * -6) 0 0 var(--pixel-outline), 0 calc(var(--pixel) * 6) 0 0 var(--pixel-outline), 0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -1) var(--pixel-outline), 0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -1) var(--pixel-outline), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -2) var(--pixel-outline), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -2) var(--pixel-outline), 0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -4) var(--pixel-outline), 0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -4) var(--pixel-outline);
          box-shadow: 0 calc(var(--pixel) * -3) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * 3) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -4) var(--pixel-border-4), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -4) var(--pixel-border-4), calc(var(--pixel) * -1) 0 0 0 var(--pixel-border), var(--pixel) 0 0 0 var(--pixel-border), 0 calc(var(--pixel) * -2) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * 2) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * -5) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * 5) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -4) var(--pixel-border-4), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -4) var(--pixel-border-4), calc(var(--pixel) * -2) 0 0 0 var(--pixel-border-4), calc(var(--pixel) * 2) 0 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * -1) 0 var(--pixel) var(--pixel-border-4), 0 var(--pixel) 0 var(--pixel) var(--pixel-border-4), 0 calc(var(--pixel) * -4) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * 4) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * -6) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * 6) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * -11) 0 calc(var(--pixel) * -4) var(--pixel-border-4), 0 calc(var(--pixel) * 11) 0 calc(var(--pixel) * -4) var(--pixel-border-4), calc(var(--pixel) * -3) 0 0 0 var(--pixel-border-4), calc(var(--pixel) * 3) 0 0 0 var(--pixel-border-4), 0 0 0 calc(var(--pixel) * 2) var(--pixel-border-4), 0 calc(var(--pixel) * -3) 0 var(--pixel) var(--pixel-border-4), 0 calc(var(--pixel) * 3) 0 var(--pixel) var(--pixel-border-4), 0 calc(var(--pixel) * -5) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * 5) 0 0 var(--pixel-border-4), 0 calc(var(--pixel) * -7) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * 7) 0 calc(var(--pixel) * -1) var(--pixel-border-4), 0 calc(var(--pixel) * -9) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * 9) 0 calc(var(--pixel) * -2) var(--pixel-border-4), 0 calc(var(--pixel) * -12) 0 calc(var(--pixel) * -4) var(--pixel-border-4), 0 calc(var(--pixel) * 12) 0 calc(var(--pixel) * -4) var(--pixel-border-4), calc(var(--pixel) * -4) 0 0 0 var(--pixel-outline), calc(var(--pixel) * 4) 0 0 0 var(--pixel-outline), 0 calc(var(--pixel) * 0) 0 calc(var(--pixel) * 3) var(--pixel-outline), 0 calc(var(--pixel) * 0) 0 calc(var(--pixel) * 3) var(--pixel-outline), 0 calc(var(--pixel) * 2) 0 calc(var(--pixel) * 2) var(--pixel-outline), 0 calc(var(--pixel) * -2) 0 calc(var(--pixel) * 2) var(--pixel-outline), 0 calc(var(--pixel) * -4) 0 var(--pixel) var(--pixel-outline), 0 calc(var(--pixel) * 4) 0 var(--pixel) var(--pixel-outline), 0 calc(var(--pixel) * -6) 0 0 var(--pixel-outline), 0 calc(var(--pixel) * 6) 0 0 var(--pixel-outline), 0 calc(var(--pixel) * -8) 0 calc(var(--pixel) * -1) var(--pixel-outline), 0 calc(var(--pixel) * 8) 0 calc(var(--pixel) * -1) var(--pixel-outline), 0 calc(var(--pixel) * -10) 0 calc(var(--pixel) * -2) var(--pixel-outline), 0 calc(var(--pixel) * 10) 0 calc(var(--pixel) * -2) var(--pixel-outline), 0 calc(var(--pixel) * -13) 0 calc(var(--pixel) * -4) var(--pixel-outline), 0 calc(var(--pixel) * 13) 0 calc(var(--pixel) * -4) var(--pixel-outline);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 15px 10%;
  height: 135px;
  overflow: hidden;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 105px;
}

header .logo img {
  z-index: 5;
  width: 200px;
}

header .logo .logo-text {
  z-index: 4;
  margin: 0 0 0 -10px;
  display: block;
  height: 105px;
  color: #FBFCFC;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-shadow: -1px -1px 0px #85929E, -2px -1px 0px #AEB6BF, -3px -2px 0px #D6DBDF, -4px -2px 0px #EBEDEF;
}

header .cart-btn {
  position: relative;
  display: block;
  color: #FBFCFC;
  width: 100px;
  height: 100px;
  font-size: 20px;
  font-family: "PokemonXandY";
  border-radius: 15px;
  text-transform: uppercase;
  text-shadow: -.5px .5px 0 #D7DBDD, -1px 1px 0 #D7DBDD;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 3px 3px);
          filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 3px 3px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .cart-btn .pixel-border {
  position: absolute;
  top: 16px;
  left: 6px;
  width: 88px;
  height: 68px;
}

header .cart-btn .pixel-border .cart-svg {
  margin: -5px 0 0 20px;
  -webkit-filter: drop-shadow(-1px 1px 0 #D7DBDD);
          filter: drop-shadow(-1px 1px 0 #D7DBDD);
}

header .cart-btn .pixel-border span {
  margin: -5px 0 0 28px;
  width: 100%;
  text-align: center;
}

header .cart-btn .pixel-border::before {
  z-index: -1;
  top: 7px;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: red;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .cart-btn:hover {
  margin-top: 7px;
}

header .cart-btn:hover .pixel-border::before {
  top: 0;
}

nav .nav-links {
  font-family: "PokemonXandY";
  text-transform: uppercase;
  background: #1B2631;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-links a {
  overflow: hidden;
  display: inline-block;
  padding: 10px 40px;
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  letter-spacing: 2px;
}

nav .nav-links a:hover {
  background: #2ECC71;
}

footer {
  font-family: "PokemonXandY";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 375px;
  background: url(../img/grasstexture.png);
}

footer .footer-text {
  text-align: center;
  color: #FBFCFC;
  text-transform: uppercase;
  font-family: 100;
  letter-spacing: 3px;
  z-index: 2;
  font-size: 20px;
  text-shadow: -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.5), 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0.5px 0.5px 0.5px black;
}

footer .pokeball-block {
  width: 50%;
  height: 120px;
  margin: 65px 25% 20px 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .pokeball-block .footer-pokeball {
  position: relative;
  width: 50px;
  height: 120px;
}

footer .pokeball-block .footer-pokeball a {
  z-index: 7;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

footer .pokeball-block .footer-pokeball svg {
  z-index: 6;
}

footer .pokeball-block .footer-pokeball img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  width: 50px;
}

footer .pokeball-block .footer-pokeball .pokeball-up {
  position: absolute;
  margin-top: 10px;
  z-index: 4;
  -webkit-transition: all 1s;
  transition: all 1s;
}

footer .pokeball-block .footer-pokeball .pokeball-down {
  position: absolute;
  margin-top: 23px;
  z-index: 3;
  -webkit-transition: all 1s;
  transition: all 1s;
}

footer .pokeball-block .footer-pokeball .social {
  width: 0px;
  position: absolute;
  z-index: 5;
  margin: 30px 0 0 25px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-filter: drop-shadow(0 0 10px #fff);
          filter: drop-shadow(0 0 10px #fff);
}

footer .pokeball-block .footer-pokeball:hover {
  cursor: pointer;
}

footer .pokeball-block .footer-pokeball:hover .pokeball-up {
  margin-top: -30px;
}

footer .pokeball-block .footer-pokeball:hover .pokeball-down {
  margin-top: 69px;
}

footer .pokeball-block .footer-pokeball:hover .social {
  -webkit-animation: pokeshow 1s linear;
          animation: pokeshow 1s linear;
  width: 40px;
  margin: 17px 0 0 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-filter: drop-shadow(0 0 1px #fff);
          filter: drop-shadow(0 0 1px #fff);
}

footer .footer-nav {
  position: relative;
  margin: 0 25%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-nav::before {
  pointer-events: none;
  content: '';
  position: absolute;
  bottom: -20%;
  right: 0%;
  width: 35%;
  height: 0%;
  border-bottom: 1px solid #FBFCFC;
  -webkit-box-shadow: 0 0 2px #FBFCFC;
          box-shadow: 0 0 2px #FBFCFC;
}

footer .footer-nav::after {
  pointer-events: none;
  content: '';
  position: absolute;
  bottom: -20%;
  left: 0%;
  width: 35%;
  height: 0%;
  border-bottom: 1px solid #FBFCFC;
  -webkit-box-shadow: 0 0 2px #FBFCFC;
          box-shadow: 0 0 2px #FBFCFC;
}

footer .footer-nav .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 50px;
}

footer .footer-nav .footer-logo img {
  z-index: 5;
  width: 100px;
}

footer .footer-nav .footer-logo .logo-text {
  z-index: 4;
  margin: -3px 0 0 -6px;
  display: block;
  color: #FBFCFC;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
}

footer .footer-nav .footer-logo:hover {
  -webkit-filter: drop-shadow(0 0 3px rgba(255, 255, 0, 0.3));
          filter: drop-shadow(0 0 3px rgba(255, 255, 0, 0.3));
}

footer .footer-nav .footer-nav-el {
  display: block;
  margin-top: 20px;
  color: #FBFCFC;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 3px;
  text-shadow: -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.5), 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0.5px 0.5px 0.5px black;
}

footer .footer-nav .footer-nav-el:hover {
  color: yellow;
}

footer .footer-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fbfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#17202a), color-stop(50%, rgba(23, 32, 42, 0.4)), to(#17202a)), -webkit-gradient(linear, left top, right top, from(#17202a), color-stop(20%, rgba(23, 32, 42, 0.4)), color-stop(80%, rgba(23, 32, 42, 0.4)), to(#17202a));
  background: linear-gradient(180deg, #17202a 0%, rgba(23, 32, 42, 0.4) 50%, #17202a 100%), linear-gradient(90deg, #17202a 0%, rgba(23, 32, 42, 0.4) 20%, rgba(23, 32, 42, 0.4) 80%, #17202a 100%);
}

.bg-header {
  background: green;
}
